# 제품 이상여부 판별 프로젝트

## 1. 데이터 불러오기

### 필수 라이브러리

In [3]:
import os
from pprint import pprint

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    f1_score,
    precision_score,
    recall_score,
)
from sklearn.model_selection import train_test_split
from tqdm import tqdm

### 엑셀 파일을 읽는 함수

읽어오는 속도가 느린 엑셀 파일을 위해 csv 파일로 변환하여 저장해 두고 사용합니다.

In [4]:
def read_excel_file(file_path: str, header: int = None) -> pd.DataFrame:
    csv_file = file_path.replace(".xlsx", ".csv")

    if not os.path.exists(csv_file):
        print("Converting excel to csv...")
        if header:
            df = pd.read_excel(file_path, header=header)
        else:
            df = pd.read_excel(file_path)

        df.to_csv(csv_file, index=False)
        print(f"  {file_path} -> {csv_file}")
        return df
    else:
        print(f"  Reading {csv_file}")
        return pd.read_csv(csv_file, low_memory=False)

### 엑셀 파일들 읽어오기

In [5]:
ROOT_DIR = "data"
RANDOM_STATE = 110

X_Dam = read_excel_file(os.path.join(ROOT_DIR, "Dam dispensing.xlsx"), header=1)

X_AutoClave = read_excel_file(
    os.path.join(ROOT_DIR, "Auto clave.xlsx"), header=1
)

X_Fill1 = read_excel_file(
    os.path.join(ROOT_DIR, "Fill1 dispensing.xlsx"), header=1
)

X_Fill2 = read_excel_file(
    os.path.join(ROOT_DIR, "Fill2 dispensing.xlsx"), header=1
)

y = pd.read_csv(os.path.join(ROOT_DIR, "train_y.csv"))

  Reading data\Dam dispensing.csv
  Reading data\Auto clave.csv
  Reading data\Fill1 dispensing.csv
  Reading data\Fill2 dispensing.csv

In [6]:
X_AutoClave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61052 entries, 0 to 61051
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Wip Line          61052 non-null  object
 1   Process Desc.     61052 non-null  object
 2   Equipment         61052 non-null  object
 3   Model.Suffix      61052 non-null  object
 4   Workorder         61052 non-null  object
 5   LOT ID            61052 non-null  object
 6   Set ID            61052 non-null  object
 7   Box ID            0 non-null      float64
 8   Collect Date      61052 non-null  object
 9   Insp. Seq No.     61052 non-null  int64
 10  Insp Judge Code   61052 non-null  object
 11  Collect Result    61052 non-null  float64
 12  Unit Time         61052 non-null  int64
 13  Judge Value       61052 non-null  object
 14  Collect Result.1  61052 non-null  float64
 15  Unit Time.1       61052 non-null  int64
 16  Judge Value.1     61052 non-null  object
 17  Collect Result.2  61052 non-null  float64
 18  Unit Time.2       61052 non-null  int64
 19  Judge Value.2     61052 non-null  object
 20  Collect Result.3  61052 non-null  int64
 21  Unit Time.3       61052 non-null  int64
 22  Judge Value.3     61052 non-null  object
 23  Collect Result.4  16942 non-null  object
 24  Unit Time.4       0 non-null      float64
 25  Judge Value.4     16942 non-null  object
dtypes: float64(5), int64(6), object(15)
memory usage: 12.1+ MB

In [4]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40506 entries, 0 to 40505
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Set ID  40506 non-null  object
 1   target  40506 non-null  object
dtypes: object(2)
memory usage: 633.0+ KB

In [5]:
# 출력 옵션을 설정
pd.set_option('display.max_rows', None)

In [6]:
X_Fill2.iloc[0, :]

Wip Line                          IVI-OB6
Process Desc.             Fill2 Dispenser
Equipment              Fill2 dispenser #1
Model.Suffix                  AJX75334501
Workorder                      3F1X5847-2
LOT ID               OP753345013050000002
Set ID               OP753345013050000002
Box ID                                NaN
Collect Date          2023-05-04 09:00:48
Insp. Seq No.                           1
Insp Judge Code                        OK
Collect Result                        240
Unit Time                             NaN
Judge Value                           NaN
Collect Result.1                       32
Unit Time.1                           NaN
Judge Value.1                         NaN
Collect Result.2                      -90
Unit Time.2                           NaN
Judge Value.2                         NaN
Collect Result.3                       55
Unit Time.3                           NaN
Judge Value.3                         NaN
Collect Result.4                     1020
Unit Time.4                           NaN
Judge Value.4                         NaN
Collect Result.5                       32
Unit Time.5                           NaN
Judge Value.5                         NaN
Collect Result.6                        0
Unit Time.6                           NaN
Judge Value.6                         NaN
Collect Result.7                     1020
Unit Time.7                           NaN
Judge Value.7                         NaN
Collect Result.8                       32
Unit Time.8                           NaN
Judge Value.8                         NaN
Collect Result.9                       90
Unit Time.9                           NaN
Judge Value.9                         NaN
Collect Result.10                       0
Unit Time.10                          NaN
Judge Value.10                        NaN
Collect Result.11                       0
Unit Time.11                          NaN
Judge Value.11                        NaN
Collect Result.12                     0.0
Unit Time.12                          NaN
Judge Value.12                        NaN
Collect Result.13                       0
Unit Time.13                          NaN
Judge Value.13                        NaN
Collect Result.14                       0
Unit Time.14                          NaN
Judge Value.14                        NaN
Collect Result.15                     0.0
Unit Time.15                          NaN
Judge Value.15                        NaN
Collect Result.16                       0
Unit Time.16                          NaN
Judge Value.16                        NaN
Collect Result.17                   835.5
Unit Time.17                          NaN
Judge Value.17                        NaN
Collect Result.18                   458.0
Unit Time.18                          NaN
Judge Value.18                        NaN
Collect Result.19                   156.0
Unit Time.19                          NaN
Judge Value.19                        NaN
Collect Result.20                   428.0
Unit Time.20                          NaN
Judge Value.20                        NaN
Collect Result.21                   427.9
Unit Time.21                          NaN
Judge Value.21                        NaN
Collect Result.22                   428.0
Unit Time.22                          NaN
Judge Value.22                        NaN
Collect Result.23                   243.7
Unit Time.23                          NaN
Judge Value.23                        NaN
Collect Result.24                   243.7
Unit Time.24                          NaN
Judge Value.24                        NaN
Collect Result.25                   243.7
Unit Time.25                          NaN
Judge Value.25                        NaN
Collect Result.26                   270.0
Unit Time.26                          NaN
Judge Value.26                        NaN
Collect Result.27                      50
Unit Time.27                          NaN
Judge Value.27                        NaN
Collect Result.28                     -10
Unit Time.28                          NaN
Judge Value.28                        NaN
Collect Result.29                     119
Unit Time.29                          NaN
Judge Value.29                        NaN
Collect Result.30                      50
Unit Time.30                          NaN
Judge Value.30                        NaN
Collect Result.31                    91.8
Unit Time.31                          NaN
Judge Value.31                        NaN
Collect Result.32                   270.0
Unit Time.32                          NaN
Judge Value.32                        NaN
Collect Result.33                      50
Unit Time.33                          NaN
Judge Value.33                        NaN
Collect Result.34                      85
Unit Time.34                          NaN
Judge Value.34                        NaN
Collect Result.35                    17.8
Unit Time.35                          NaN
Judge Value.35                        NaN
Collect Result.36                     7.0
Unit Time.36                          NaN
Judge Value.36                        NaN
Collect Result.37                       1
Unit Time.37                          NaN
Judge Value.37                        NaN
Collect Result.38                       1
Unit Time.38                          NaN
Judge Value.38                        NaN
Collect Result.39                       0
Unit Time.39                          NaN
Judge Value.39                        NaN
Unnamed: 131                          NaN
Name: 0, dtype: object

In [7]:
# 출력 옵션을 원래대로
pd.reset_option('display.max_rows')

In [8]:
for col in X_Fill2.columns:
    counts = X_Fill2[col].value_counts()
    print(f"Value counts for column {col}:")
    print(counts)
    print()

Value counts for column Wip Line:
IVI-OB6    62318
Name: Wip Line, dtype: int64

Value counts for column Process Desc.:
Fill2 Dispenser    62318
Name: Process Desc., dtype: int64

Value counts for column Equipment:
Fill2 dispenser #1    38503
Fill2 dispenser #2    23815
Name: Equipment, dtype: int64

Value counts for column Model.Suffix:
AJX75334501    51662
AJX75334502     5220
AJX75334505     4015
AJX75334507      454
EAT65200901      452
AJX75334503      242
AJX75334506      181
AJX75334508       92
Name: Model.Suffix, dtype: int64

Value counts for column Workorder:
3L1X8574-2       386
3K1XC268-1       357
3L1X9934-1       318
3L1X8506-1       311
3K1XA586-2       282
                ...
4A1XE569-1         3
4CPM0166-1         2
3G1X4502-1         1
3HPXX137-0001      1
3HPM0061-1         1
Name: Workorder, Length: 679, dtype: int64

Value counts for column LOT ID:
OP753345013050000601    4
OP753345013050001894    4
OP753345013120000196    4
OP753345013060001680    4
OP753345013060004145    4
                       ..
OP753345013090001306    1
OP753345013090001307    1
OP753345013090001308    1
OP753345013090001309    1
OP753345054040002689    1
Name: LOT ID, Length: 59253, dtype: int64

Value counts for column Set ID:
OP753345013050000601    4
OP753345013050001894    4
OP753345013120000196    4
OP753345013060001680    4
OP753345013060004145    4
                       ..
OP753345013090001306    1
OP753345013090001307    1
OP753345013090001308    1
OP753345013090001309    1
OP753345054040002689    1
Name: Set ID, Length: 59253, dtype: int64

Value counts for column Box ID:
Series([], Name: Box ID, dtype: int64)

Value counts for column Collect Date:
2023-05-04 09:00:48    1
2023-12-20 20:00:48    1
2023-12-20 19:32:58    1
2023-12-20 19:33:57    1
2023-12-20 19:34:56    1
                      ..
2023-09-06 19:07:20    1
2023-09-06 19:08:05    1
2023-09-06 19:09:16    1
2023-09-06 19:12:54    1
2024-04-28 18:37:38    1
Name: Collect Date, Length: 62318, dtype: int64

Value counts for column Insp. Seq No.:
1    59253
2     2850
3      199
4       16
Name: Insp. Seq No., dtype: int64

Value counts for column Insp Judge Code:
OK    62318
Name: Insp Judge Code, dtype: int64

Value counts for column Collect Result:
240     62116
1020      202
Name: Collect Result, dtype: int64

Value counts for column Unit Time:
Series([], Name: Unit Time, dtype: int64)

Value counts for column Judge Value:
Series([], Name: Judge Value, dtype: int64)

Value counts for column Collect Result.1:
33    50410
32    11699
22      209
Name: Collect Result.1, dtype: int64

Value counts for column Unit Time.1:
Series([], Name: Unit Time.1, dtype: int64)

Value counts for column Judge Value.1:
Series([], Name: Judge Value.1, dtype: int64)

Value counts for column Collect Result.2:
-90    62318
Name: Collect Result.2, dtype: int64

Value counts for column Unit Time.2:
Series([], Name: Unit Time.2, dtype: int64)

Value counts for column Judge Value.2:
Series([], Name: Judge Value.2, dtype: int64)

Value counts for column Collect Result.3:
50    53052
48     3969
45     3529
51      757
55      447
27      281
26       84
24       76
53       62
40       49
31       10
28        1
75        1
Name: Collect Result.3, dtype: int64

Value counts for column Unit Time.3:
Series([], Name: Unit Time.3, dtype: int64)

Value counts for column Judge Value.3:
Series([], Name: Judge Value.3, dtype: int64)

Value counts for column Collect Result.4:
1020    62318
Name: Collect Result.4, dtype: int64

Value counts for column Unit Time.4:
Series([], Name: Unit Time.4, dtype: int64)

Value counts for column Judge Value.4:
Series([], Name: Judge Value.4, dtype: int64)

Value counts for column Collect Result.5:
33    53239
32     8019
22      738
23      322
Name: Collect Result.5, dtype: int64

Value counts for column Unit Time.5:
Series([], Name: Unit Time.5, dtype: int64)

Value counts for column Judge Value.5:
Series([], Name: Judge Value.5, dtype: int64)

Value counts for column Collect Result.6:
0    62318
Name: Collect Result.6, dtype: int64

Value counts for column Unit Time.6:
Series([], Name: Unit Time.6, dtype: int64)

Value counts for column Judge Value.6:
Series([], Name: Judge Value.6, dtype: int64)

Value counts for column Collect Result.7:
1020    62116
240       202
Name: Collect Result.7, dtype: int64

Value counts for column Unit Time.7:
Series([], Name: Unit Time.7, dtype: int64)

Value counts for column Judge Value.7:
Series([], Name: Judge Value.7, dtype: int64)

Value counts for column Collect Result.8:
33    53239
32     8019
22      738
23      322
Name: Collect Result.8, dtype: int64

Value counts for column Unit Time.8:
Series([], Name: Unit Time.8, dtype: int64)

Value counts for column Judge Value.8:
Series([], Name: Judge Value.8, dtype: int64)

Value counts for column Collect Result.9:
90    62318
Name: Collect Result.9, dtype: int64

Value counts for column Unit Time.9:
Series([], Name: Unit Time.9, dtype: int64)

Value counts for column Judge Value.9:
Series([], Name: Judge Value.9, dtype: int64)

Value counts for column Collect Result.10:
0     61866
12      452
Name: Collect Result.10, dtype: int64

Value counts for column Unit Time.10:
Series([], Name: Unit Time.10, dtype: int64)

Value counts for column Judge Value.10:
Series([], Name: Judge Value.10, dtype: int64)

Value counts for column Collect Result.11:
0    62318
Name: Collect Result.11, dtype: int64

Value counts for column Unit Time.11:
Series([], Name: Unit Time.11, dtype: int64)

Value counts for column Judge Value.11:
Series([], Name: Judge Value.11, dtype: int64)

Value counts for column Collect Result.12:
0.0     61866
17.2      333
17.3       61
18.9       35
19.0       19
19.5        3
19.4        1
Name: Collect Result.12, dtype: int64

Value counts for column Unit Time.12:
Series([], Name: Unit Time.12, dtype: int64)

Value counts for column Judge Value.12:
Series([], Name: Judge Value.12, dtype: int64)

Value counts for column Collect Result.13:
0    62318
Name: Collect Result.13, dtype: int64

Value counts for column Unit Time.13:
Series([], Name: Unit Time.13, dtype: int64)

Value counts for column Judge Value.13:
Series([], Name: Judge Value.13, dtype: int64)

Value counts for column Collect Result.14:
0    62318
Name: Collect Result.14, dtype: int64

Value counts for column Unit Time.14:
Series([], Name: Unit Time.14, dtype: int64)

Value counts for column Judge Value.14:
Series([], Name: Judge Value.14, dtype: int64)

Value counts for column Collect Result.15:
0.00     61866
16.34      351
16.43       61
16.25       35
16.77        3
14.79        1
16.68        1
Name: Collect Result.15, dtype: int64

Value counts for column Unit Time.15:
Series([], Name: Unit Time.15, dtype: int64)

Value counts for column Judge Value.15:
Series([], Name: Judge Value.15, dtype: int64)

Value counts for column Collect Result.16:
0    62318
Name: Collect Result.16, dtype: int64

Value counts for column Unit Time.16:
Series([], Name: Unit Time.16, dtype: int64)

Value counts for column Judge Value.16:
Series([], Name: Judge Value.16, dtype: int64)

Value counts for column Collect Result.17:
835.5    20219
OK       17120
305       5585
680          1
Name: Collect Result.17, dtype: int64

Value counts for column Unit Time.17:
Series([], Name: Unit Time.17, dtype: int64)

Value counts for column Judge Value.17:
OK    17120
Name: Judge Value.17, dtype: int64

Value counts for column Collect Result.18:
458.0    20219
835.5    18284
305.0    16416
499.8     5585
304.8     1362
680.0      354
679.7       98
Name: Collect Result.18, dtype: int64

Value counts for column Unit Time.18:
Series([], Name: Unit Time.18, dtype: int64)

Value counts for column Judge Value.18:
Series([], Name: Judge Value.18, dtype: int64)

Value counts for column Collect Result.19:
156.0    20219
458.0    18284
499.8    17778
694.0     5585
680.0      226
679.5      126
679.4       97
679.6        3
Name: Collect Result.19, dtype: int64

Value counts for column Unit Time.19:
Series([], Name: Unit Time.19, dtype: int64)

Value counts for column Judge Value.19:
Series([], Name: Judge Value.19, dtype: int64)

Value counts for column Collect Result.20:
428.0     20219
156.0     18284
694.0     16416
1324.2     5585
692.8      1362
680.0       451
1323.5        1
Name: Collect Result.20, dtype: int64

Value counts for column Unit Time.20:
Series([], Name: Unit Time.20, dtype: int64)

Value counts for column Judge Value.20:
Series([], Name: Judge Value.20, dtype: int64)

Value counts for column Collect Result.21:
1324.2    23363
427.9     20219
428.0     18284
1324.6      316
1323.5      136
Name: Collect Result.21, dtype: int64

Value counts for column Unit Time.21:
Series([], Name: Unit Time.21, dtype: int64)

Value counts for column Judge Value.21:
Series([], Name: Judge Value.21, dtype: int64)

Value counts for column Collect Result.22:
1324.2    23363
428.0     20219
427.9     18284
1323.5      452
Name: Collect Result.22, dtype: int64

Value counts for column Unit Time.22:
Series([], Name: Unit Time.22, dtype: int64)

Value counts for column Judge Value.22:
Series([], Name: Judge Value.22, dtype: int64)

Value counts for column Collect Result.23:
243.700     20219
428.000     18284
1324.200    17778
243.500      5585
1323.500      451
243.264         1
Name: Collect Result.23, dtype: int64

Value counts for column Unit Time.23:
Series([], Name: Unit Time.23, dtype: int64)

Value counts for column Judge Value.23:
Series([], Name: Judge Value.23, dtype: int64)

Value counts for column Collect Result.24:
243.700    38603
243.500    23363
243.911      202
243.039       59
243.824       50
243.778       40
243.264        1
Name: Collect Result.24, dtype: int64

Value counts for column Unit Time.24:
Series([], Name: Unit Time.24, dtype: int64)

Value counts for column Judge Value.24:
Series([], Name: Judge Value.24, dtype: int64)

Value counts for column Collect Result.25:
243.700    38503
243.500    23363
243.039      135
243.300      126
243.824      100
243.547       50
243.778       40
243.264        1
Name: Collect Result.25, dtype: int64

Value counts for column Unit Time.25:
Series([], Name: Unit Time.25, dtype: int64)

Value counts for column Judge Value.25:
Series([], Name: Judge Value.25, dtype: int64)

Value counts for column Collect Result.26:
270.000    25805
243.700    18284
243.500    17778
243.039      261
243.824      150
243.778       40
Name: Collect Result.26, dtype: int64

Value counts for column Unit Time.26:
Series([], Name: Unit Time.26, dtype: int64)

Value counts for column Judge Value.26:
Series([], Name: Judge Value.26, dtype: int64)

Value counts for column Collect Result.27:
270    36513
50     25805
Name: Collect Result.27, dtype: int64

Value counts for column Unit Time.27:
Series([], Name: Unit Time.27, dtype: int64)

Value counts for column Judge Value.27:
Series([], Name: Judge Value.27, dtype: int64)

Value counts for column Collect Result.28:
 50    36513
-10    25805
Name: Collect Result.28, dtype: int64

Value counts for column Unit Time.28:
Series([], Name: Unit Time.28, dtype: int64)

Value counts for column Judge Value.28:
Series([], Name: Judge Value.28, dtype: int64)

Value counts for column Collect Result.29:
-10     36513
 119    25805
Name: Collect Result.29, dtype: int64

Value counts for column Unit Time.29:
Series([], Name: Unit Time.29, dtype: int64)

Value counts for column Judge Value.29:
Series([], Name: Judge Value.29, dtype: int64)

Value counts for column Collect Result.30:
119    36513
50     25805
Name: Collect Result.30, dtype: int64

Value counts for column Unit Time.30:
Series([], Name: Unit Time.30, dtype: int64)

Value counts for column Judge Value.30:
Series([], Name: Judge Value.30, dtype: int64)

Value counts for column Collect Result.31:
50.0    36513
91.8    25805
Name: Collect Result.31, dtype: int64

Value counts for column Unit Time.31:
Series([], Name: Unit Time.31, dtype: int64)

Value counts for column Judge Value.31:
Series([], Name: Judge Value.31, dtype: int64)

Value counts for column Collect Result.32:
91.8     36513
270.0    25805
Name: Collect Result.32, dtype: int64

Value counts for column Unit Time.32:
Series([], Name: Unit Time.32, dtype: int64)

Value counts for column Judge Value.32:
Series([], Name: Judge Value.32, dtype: int64)

Value counts for column Collect Result.33:
270    36513
50     25805
Name: Collect Result.33, dtype: int64

Value counts for column Unit Time.33:
Series([], Name: Unit Time.33, dtype: int64)

Value counts for column Judge Value.33:
Series([], Name: Judge Value.33, dtype: int64)

Value counts for column Collect Result.34:
50    36513
85    25805
Name: Collect Result.34, dtype: int64

Value counts for column Unit Time.34:
Series([], Name: Unit Time.34, dtype: int64)

Value counts for column Judge Value.34:
Series([], Name: Judge Value.34, dtype: int64)

Value counts for column Collect Result.35:
85.000     28716
114.612     7797
19.600      2143
19.500      2137
19.700      1997
19.800      1967
19.400      1936
19.300      1843
19.200      1830
19.900      1604
19.100      1483
19.000      1329
18.900      1267
20.000      1230
18.800      1085
20.100       955
18.700       850
18.600       604
20.200       396
18.500       261
20.300       182
18.400       152
18.300       103
20.400       101
20.500        62
18.200        61
18.100        46
18.000        41
20.600        38
17.900        28
17.800        24
20.700        15
20.900         8
17.700         8
20.800         6
17.600         2
21.200         2
21.300         1
29.500         1
21.000         1
21.400         1
21.100         1
55.200         1
21.700         1
284.100        1
25.000         1
Name: Collect Result.35, dtype: int64

Value counts for column Unit Time.35:
Series([], Name: Unit Time.35, dtype: int64)

Value counts for column Judge Value.35:
Series([], Name: Judge Value.35, dtype: int64)

Value counts for column Collect Result.36:
19.9     3812
19.8     3777
19.7     3415
20.0     3371
19.6     3135
         ...
47.1        1
103.2       1
54.2        1
54.1        1
46.1        1
Name: Collect Result.36, Length: 169, dtype: int64

Value counts for column Unit Time.36:
Series([], Name: Unit Time.36, dtype: int64)

Value counts for column Judge Value.36:
Series([], Name: Judge Value.36, dtype: int64)

Value counts for column Collect Result.37:
10     2401
16     2401
5      2397
12     2396
3      2393
       ...
485       1
486       1
487       1
488       1
489       1
Name: Collect Result.37, Length: 490, dtype: int64

Value counts for column Unit Time.37:
Series([], Name: Unit Time.37, dtype: int64)

Value counts for column Judge Value.37:
Series([], Name: Judge Value.37, dtype: int64)

Value counts for column Collect Result.38:
1      25924
13       129
11       129
18       128
15       128
       ...
585        2
586        2
606        1
607        1
608        1
Name: Collect Result.38, Length: 609, dtype: int64

Value counts for column Unit Time.38:
Series([], Name: Unit Time.38, dtype: int64)

Value counts for column Judge Value.38:
Series([], Name: Judge Value.38, dtype: int64)

Value counts for column Collect Result.39:
1     34133
0     25804
6      1567
2       452
9       138
17      123
3       101
Name: Collect Result.39, dtype: int64

Value counts for column Unit Time.39:
Series([], Name: Unit Time.39, dtype: int64)

Value counts for column Judge Value.39:
Series([], Name: Judge Value.39, dtype: int64)

Value counts for column Unnamed: 131:
0.0    36062
2.0      451
Name: Unnamed: 131, dtype: int64

### 데이터 병합

x 데이터 병합

In [9]:
# Rename columns
X_Dam.columns = [i + " - Dam" for i in X_Dam.columns]
X_AutoClave.columns = [i + " - AutoClave" for i in X_AutoClave.columns]
X_Fill1.columns = [i + " - Fill1" for i in X_Fill1.columns]
X_Fill2.columns = [i + " - Fill2" for i in X_Fill2.columns]
X_Dam = X_Dam.rename(columns={"Set ID - Dam": "Set ID"})
X_AutoClave = X_AutoClave.rename(columns={"Set ID - AutoClave": "Set ID"})
X_Fill1 = X_Fill1.rename(columns={"Set ID - Fill1": "Set ID"})
X_Fill2 = X_Fill2.rename(columns={"Set ID - Fill2": "Set ID"})

# Merge X
X = pd.merge(X_Dam, X_AutoClave, on="Set ID")
X = pd.merge(X, X_Fill1, on="Set ID")
X = pd.merge(X, X_Fill2, on="Set ID")
X = X.drop(X[X.duplicated(subset="Set ID")].index).reset_index(drop=True)
X

,Wip Line - Dam,Process Desc. - Dam,Equipment - Dam,Model.Suffix - Dam,Workorder - Dam,LOT ID - Dam,Set ID,Box ID - Dam,Collect Date - Dam,Insp. Seq No. - Dam,...,Collect Result.37 - Fill2,Unit Time.37 - Fill2,Judge Value.37 - Fill2,Collect Result.38 - Fill2,Unit Time.38 - Fill2,Judge Value.38 - Fill2,Collect Result.39 - Fill2,Unit Time.39 - Fill2,Judge Value.39 - Fill2,Unnamed: 131 - Fill2
0,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000002,OP753345013050000002,NaN,2023-05-04 08:57:23,1,...,1,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
1,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000003,OP753345013050000003,NaN,2023-05-04 09:11:35,1,...,2,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
2,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000004,OP753345013050000004,NaN,2023-05-04 09:13:19,1,...,3,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
3,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000005,OP753345013050000005,NaN,2023-05-04 09:15:24,1,...,4,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
4,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000006,OP753345013050000006,NaN,2023-05-04 09:17:27,1,...,5,NaN,NaN,1,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57862,IVI-OB6,Dam Dispenser,Dam dispenser #2,AJX75334505,4F1XB738-1,OP753345054040002685,OP753345054040002685,NaN,2024-04-28 18:30:42,1,...,11,NaN,NaN,435,NaN,NaN,1,NaN,NaN,0.0
57863,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334505,4F1XB738-1,OP753345054040002686,OP753345054040002686,NaN,2024-04-28 18:31:43,1,...,5,NaN,NaN,436,NaN,NaN,1,NaN,NaN,0.0
57864,IVI-OB6,Dam Dispenser,Dam dispenser #2,AJX75334505,4F1XB738-1,OP753345054040002687,OP753345054040002687,NaN,2024-04-28 18:32:49,1,...,12,NaN,NaN,437,NaN,NaN,1,NaN,NaN,0.0
57865,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334505,4F1XB738-1,OP753345054040002688,OP753345054040002688,NaN,2024-04-28 18:33:51,1,...,6,NaN,NaN,438,NaN,NaN,1,NaN,NaN,0.0
57866,IVI-OB6,Dam Dispenser,Dam dispenser #2,AJX75334505,4F1XB738-1,OP753345054040002689,OP753345054040002689,NaN,2024-04-28 18:34:57,1,...,13,NaN,NaN,439,NaN,NaN,1,NaN,NaN,0.0

x 데이터와 y 데이터 병합

In [10]:
# Merge X and y
df_merged = pd.merge(X, y, "inner", on="Set ID")

# Drop columns with more than half of the values missing
drop_cols = []
for column in df_merged.columns:
    if (df_merged[column].notnull().sum() // 2) < df_merged[
        column
    ].isnull().sum():
        drop_cols.append(column)
df_merged = df_merged.drop(drop_cols, axis=1)

# Drop Lot ID
df_merged = df_merged.drop("LOT ID - Dam", axis=1)
df_merged

,Wip Line - Dam,Process Desc. - Dam,Equipment - Dam,Model.Suffix - Dam,Workorder - Dam,Set ID,Collect Date - Dam,Insp. Seq No. - Dam,Insp Judge Code - Dam,Collect Result - Dam,...,Collect Result.31 - Fill2,Collect Result.32 - Fill2,Collect Result.33 - Fill2,Collect Result.34 - Fill2,Collect Result.35 - Fill2,Collect Result.36 - Fill2,Collect Result.37 - Fill2,Collect Result.38 - Fill2,Collect Result.39 - Fill2,target
0,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000003,2023-05-04 09:11:35,1,OK,240.0,...,91.8,270.0,50,85,18.200,5.0,2,1,0,AbNormal
1,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000004,2023-05-04 09:13:19,1,OK,240.0,...,91.8,270.0,50,85,18.400,6.0,3,1,0,AbNormal
2,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000007,2023-05-04 09:19:31,1,OK,240.0,...,91.8,270.0,50,85,18.600,1.0,6,1,0,AbNormal
3,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000011,2023-05-04 11:19:55,1,OK,240.0,...,91.8,270.0,50,85,18.200,4.0,18,1,0,AbNormal
4,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334501,3F1X5847-2,OP753345013050000024,2023-05-05 09:35:48,1,OK,240.0,...,91.8,270.0,50,85,18.100,6.0,12,1,0,AbNormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40501,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334505,4F1XB738-1,OP753345054040002680,2024-04-28 18:25:20,1,OK,240.0,...,50.0,91.8,270,50,114.612,18.8,2,430,1,Normal
40502,IVI-OB6,Dam Dispenser,Dam dispenser #2,AJX75334505,4F1XB738-1,OP753345054040002681,2024-04-28 18:26:27,1,OK,1000.0,...,50.0,91.8,270,50,114.612,19.0,9,431,1,Normal
40503,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334505,4F1XB738-1,OP753345054040002682,2024-04-28 18:27:27,1,OK,240.0,...,50.0,91.8,270,50,114.612,19.3,3,432,1,Normal
40504,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334505,4F1XB738-1,OP753345054040002684,2024-04-28 18:29:36,1,OK,240.0,...,50.0,91.8,270,50,114.612,19.6,4,434,1,Normal
40505,IVI-OB6,Dam Dispenser,Dam dispenser #1,AJX75334505,4F1XB738-1,OP753345054040002688,2024-04-28 18:33:51,1,OK,240.0,...,50.0,91.8,270,50,114.612,18.8,6,438,1,Normal

In [11]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40506 entries, 0 to 40505
Columns: 189 entries, Wip Line - Dam to target
dtypes: float64(72), int64(77), object(40)
memory usage: 58.7+ MB

In [12]:
# 출력 옵션을 설정
pd.set_option('display.max_rows', None)

df_merged.iloc[0, :]

Wip Line - Dam                               IVI-OB6
Process Desc. - Dam                    Dam Dispenser
Equipment - Dam                     Dam dispenser #1
Model.Suffix - Dam                       AJX75334501
Workorder - Dam                           3F1X5847-2
Set ID                          OP753345013050000003
Collect Date - Dam               2023-05-04 09:11:35
Insp. Seq No. - Dam                                1
Insp Judge Code - Dam                             OK
Collect Result - Dam                           240.0
Collect Result.1 - Dam                           2.5
Collect Result.2 - Dam                           -90
Collect Result.3 - Dam                            70
Collect Result.4 - Dam                          1150
Collect Result.5 - Dam                          33.5
Collect Result.6 - Dam                             0
Collect Result.7 - Dam                          1030
Collect Result.8 - Dam                          33.5
Collect Result.9 - Dam                           -90
Collect Result.10 - Dam                           10
Collect Result.11 - Dam                         11.6
Collect Result.12 - Dam                          3.9
Collect Result.13 - Dam                         11.6
Collect Result.14 - Dam                         0.81
Collect Result.15 - Dam                         0.27
Collect Result.16 - Dam                         0.81
Collect Result.17 - Dam                          549
Collect Result.18 - Dam                        463.0
Collect Result.19 - Dam                        160.5
Collect Result.20 - Dam                        377.5
Collect Result.21 - Dam                        377.0
Collect Result.22 - Dam                        377.5
Collect Result.23 - Dam                        284.8
Collect Result.24 - Dam                        284.8
Collect Result.25 - Dam                        284.8
Collect Result.26 - Dam                        257.0
Collect Result.27 - Dam                           66
Collect Result.28 - Dam                            0
Collect Result.29 - Dam                        127.5
Collect Result.30 - Dam                         66.0
Collect Result.31 - Dam                        124.5
Collect Result.32 - Dam                        257.0
Collect Result.33 - Dam                           66
Collect Result.34 - Dam                        124.5
Collect Result.35 - Dam                        505.0
Collect Result.36 - Dam                        303.5
Collect Result.37 - Dam                        265.0
Collect Result.38 - Dam                         91.2
Collect Result.39 - Dam                          5.0
Collect Result.40 - Dam                            2
Collect Result.41 - Dam                            1
Collect Result.42 - Dam                         9000
Collect Result.43 - Dam                         9000
Collect Result.44 - Dam                         9000
Collect Result.45 - Dam                         9000
Collect Result.46 - Dam                         7000
Collect Result.47 - Dam                         9000
Collect Result.48 - Dam                         7000
Collect Result.49 - Dam                         9000
Collect Result.50 - Dam                        12000
Collect Result.51 - Dam                        12000
Collect Result.52 - Dam                        12000
Collect Result.53 - Dam                        12000
Collect Result.54 - Dam                        12000
Collect Result.55 - Dam                        12000
Collect Result.56 - Dam                        12000
Collect Result.57 - Dam                        12000
Collect Result.58 - Dam                         9000
Collect Result.59 - Dam                         9000
Collect Result.60 - Dam                         9000
Collect Result.61 - Dam                         9000
Collect Result.62 - Dam                         7000
Collect Result.63 - Dam                         9000
Collect Result.64 - Dam                         7000
Collect Result.65 - Dam                         9000
Collect Result.66 - Dam                            0
Collect Result.67 - Dam                          0.0
Collect Result.68 - Dam                          0.0
Collect Result.69 - Dam                          7.0
Wip Line - AutoClave                         IVI-OB6
Process Desc. - AutoClave             Auto Clave Out
Equipment - AutoClave                 Auto Clave Out
Model.Suffix - AutoClave                 AJX75334501
Workorder - AutoClave                     3F1X5847-2
LOT ID - AutoClave              OP753345013050000003
Collect Date - AutoClave         2023-05-04 09:49:12
Insp. Seq No. - AutoClave                          1
Insp Judge Code - AutoClave                       OK
Collect Result - AutoClave                     0.312
Unit Time - AutoClave                            300
Judge Value - AutoClave                           OK
Collect Result.1 - AutoClave                   0.502
Unit Time.1 - AutoClave                          120
Judge Value.1 - AutoClave                         OK
Collect Result.2 - AutoClave                   0.501
Unit Time.2 - AutoClave                           90
Judge Value.2 - AutoClave                         OK
Collect Result.3 - AutoClave                      50
Unit Time.3 - AutoClave                          510
Judge Value.3 - AutoClave                         OK
Wip Line - Fill1                             IVI-OB6
Process Desc. - Fill1                Fill1 Dispenser
Equipment - Fill1                 Fill1 dispenser #1
Model.Suffix - Fill1                     AJX75334501
Workorder - Fill1                         3F1X5847-2
LOT ID - Fill1                  OP753345013050000003
Collect Date - Fill1             2023-05-04 09:13:39
Insp. Seq No. - Fill1                              1
Insp Judge Code - Fill1                           OK
Collect Result - Fill1                          10.9
Collect Result.1 - Fill1                        13.3
Collect Result.2 - Fill1                         4.9
Collect Result.3 - Fill1                        13.3
Collect Result.4 - Fill1                       12.63
Collect Result.5 - Fill1                        4.65
Collect Result.6 - Fill1                       12.63
Collect Result.7 - Fill1                       838.2
Collect Result.8 - Fill1                       460.0
Collect Result.9 - Fill1                       158.0
Collect Result.10 - Fill1                      430.2
Collect Result.11 - Fill1                      430.5
Collect Result.12 - Fill1                      430.6
Collect Result.13 - Fill1                      244.3
Collect Result.14 - Fill1                      244.3
Collect Result.15 - Fill1                      244.3
Collect Result.16 - Fill1                      289.0
Collect Result.17 - Fill1                         50
Collect Result.18 - Fill1                          0
Collect Result.19 - Fill1                      123.4
Collect Result.20 - Fill1                       50.0
Collect Result.21 - Fill1                       92.2
Collect Result.22 - Fill1                      289.0
Collect Result.23 - Fill1                         50
Collect Result.24 - Fill1                         85
Collect Result.25 - Fill1                      110.9
Collect Result.26 - Fill1                        5.0
Collect Result.27 - Fill1                          2
Collect Result.28 - Fill1                          1
Collect Result.29 - Fill1                          7
Wip Line - Fill2                             IVI-OB6
Process Desc. - Fill2                Fill2 Dispenser
Equipment - Fill2                 Fill2 dispenser #1
Model.Suffix - Fill2                     AJX75334501
Workorder - Fill2                         3F1X5847-2
LOT ID - Fill2                  OP753345013050000003
Collect Date - Fill2             2023-05-04 09:15:00
Insp. Seq No. - Fill2                              1
Insp Judge Code - Fill2                           OK
Collect Result - Fill2                           240
Collect Result.1 - Fill2                          32
Collect Result.2 - Fill2                         -90
Collect Result.3 - Fill2                          55
Collect Result.4 - Fill2                        1020
Collect Result.5 - Fill2                          32
Collect Result.6 - Fill2                           0
Collect Result.7 - Fill2                        1020
Collect Result.8 - Fill2                          32
Collect Result.9 - Fill2                          90
Collect Result.10 - Fill2                          0
Collect Result.11 - Fill2                          0
Collect Result.12 - Fill2                        0.0
Collect Result.13 - Fill2                          0
Collect Result.14 - Fill2                          0
Collect Result.15 - Fill2                        0.0
Collect Result.16 - Fill2                          0
Collect Result.17 - Fill2                      835.5
Collect Result.18 - Fill2                      458.0
Collect Result.19 - Fill2                      156.0
Collect Result.20 - Fill2                      428.0
Collect Result.21 - Fill2                      427.9
Collect Result.22 - Fill2                      428.0
Collect Result.23 - Fill2                      243.7
Collect Result.24 - Fill2                      243.7
Collect Result.25 - Fill2                      243.7
Collect Result.26 - Fill2                      270.0
Collect Result.27 - Fill2                         50
Collect Result.28 - Fill2                        -10
Collect Result.29 - Fill2                        119
Collect Result.30 - Fill2                         50
Collect Result.31 - Fill2                       91.8
Collect Result.32 - Fill2                      270.0
Collect Result.33 - Fill2                         50
Collect Result.34 - Fill2                         85
Collect Result.35 - Fill2                       18.2
Collect Result.36 - Fill2                        5.0
Collect Result.37 - Fill2                          2
Collect Result.38 - Fill2                          1
Collect Result.39 - Fill2                          0
target                                      AbNormal
Name: 0, dtype: object

In [13]:
df_merged.iloc[2, :]

Wip Line - Dam                               IVI-OB6
Process Desc. - Dam                    Dam Dispenser
Equipment - Dam                     Dam dispenser #1
Model.Suffix - Dam                       AJX75334501
Workorder - Dam                           3F1X5847-2
Set ID                          OP753345013050000007
Collect Date - Dam               2023-05-04 09:19:31
Insp. Seq No. - Dam                                1
Insp Judge Code - Dam                             OK
Collect Result - Dam                           240.0
Collect Result.1 - Dam                           2.5
Collect Result.2 - Dam                           -90
Collect Result.3 - Dam                            70
Collect Result.4 - Dam                          1150
Collect Result.5 - Dam                          33.5
Collect Result.6 - Dam                             0
Collect Result.7 - Dam                          1030
Collect Result.8 - Dam                          33.5
Collect Result.9 - Dam                           -90
Collect Result.10 - Dam                           10
Collect Result.11 - Dam                         11.6
Collect Result.12 - Dam                          3.9
Collect Result.13 - Dam                         11.6
Collect Result.14 - Dam                         0.81
Collect Result.15 - Dam                         0.27
Collect Result.16 - Dam                         0.81
Collect Result.17 - Dam                          549
Collect Result.18 - Dam                        463.0
Collect Result.19 - Dam                        160.5
Collect Result.20 - Dam                        377.5
Collect Result.21 - Dam                        377.0
Collect Result.22 - Dam                        377.5
Collect Result.23 - Dam                        284.8
Collect Result.24 - Dam                        284.8
Collect Result.25 - Dam                        284.8
Collect Result.26 - Dam                        257.0
Collect Result.27 - Dam                           66
Collect Result.28 - Dam                            0
Collect Result.29 - Dam                        127.5
Collect Result.30 - Dam                         66.0
Collect Result.31 - Dam                        124.5
Collect Result.32 - Dam                        257.0
Collect Result.33 - Dam                           66
Collect Result.34 - Dam                        124.5
Collect Result.35 - Dam                        505.0
Collect Result.36 - Dam                        303.5
Collect Result.37 - Dam                        265.0
Collect Result.38 - Dam                         91.3
Collect Result.39 - Dam                          1.0
Collect Result.40 - Dam                            6
Collect Result.41 - Dam                            1
Collect Result.42 - Dam                         9000
Collect Result.43 - Dam                         9000
Collect Result.44 - Dam                         9000
Collect Result.45 - Dam                         9000
Collect Result.46 - Dam                         7000
Collect Result.47 - Dam                         9000
Collect Result.48 - Dam                         7000
Collect Result.49 - Dam                         9000
Collect Result.50 - Dam                        12000
Collect Result.51 - Dam                        12000
Collect Result.52 - Dam                        12000
Collect Result.53 - Dam                        12000
Collect Result.54 - Dam                        12000
Collect Result.55 - Dam                        12000
Collect Result.56 - Dam                        12000
Collect Result.57 - Dam                        12000
Collect Result.58 - Dam                         9000
Collect Result.59 - Dam                         9000
Collect Result.60 - Dam                         9000
Collect Result.61 - Dam                         9000
Collect Result.62 - Dam                         7000
Collect Result.63 - Dam                         9000
Collect Result.64 - Dam                         7000
Collect Result.65 - Dam                         9000
Collect Result.66 - Dam                            0
Collect Result.67 - Dam                          0.0
Collect Result.68 - Dam                          0.0
Collect Result.69 - Dam                          7.0
Wip Line - AutoClave                         IVI-OB6
Process Desc. - AutoClave             Auto Clave Out
Equipment - AutoClave                 Auto Clave Out
Model.Suffix - AutoClave                 AJX75334501
Workorder - AutoClave                     3F1X5847-2
LOT ID - AutoClave              OP753345013050000007
Collect Date - AutoClave         2023-05-04 10:03:02
Insp. Seq No. - AutoClave                          1
Insp Judge Code - AutoClave                       OK
Collect Result - AutoClave                     0.314
Unit Time - AutoClave                            300
Judge Value - AutoClave                           OK
Collect Result.1 - AutoClave                   0.502
Unit Time.1 - AutoClave                          120
Judge Value.1 - AutoClave                         OK
Collect Result.2 - AutoClave                   0.502
Unit Time.2 - AutoClave                           90
Judge Value.2 - AutoClave                         OK
Collect Result.3 - AutoClave                      54
Unit Time.3 - AutoClave                          510
Judge Value.3 - AutoClave                         OK
Wip Line - Fill1                             IVI-OB6
Process Desc. - Fill1                Fill1 Dispenser
Equipment - Fill1                 Fill1 dispenser #1
Model.Suffix - Fill1                     AJX75334501
Workorder - Fill1                         3F1X5847-2
LOT ID - Fill1                  OP753345013050000007
Collect Date - Fill1             2023-05-04 09:21:54
Insp. Seq No. - Fill1                              1
Insp Judge Code - Fill1                           OK
Collect Result - Fill1                          10.9
Collect Result.1 - Fill1                        13.2
Collect Result.2 - Fill1                         4.9
Collect Result.3 - Fill1                        13.3
Collect Result.4 - Fill1                       12.54
Collect Result.5 - Fill1                        4.65
Collect Result.6 - Fill1                       12.63
Collect Result.7 - Fill1                       838.2
Collect Result.8 - Fill1                       460.0
Collect Result.9 - Fill1                       158.0
Collect Result.10 - Fill1                      430.2
Collect Result.11 - Fill1                      430.5
Collect Result.12 - Fill1                      430.6
Collect Result.13 - Fill1                      244.3
Collect Result.14 - Fill1                      244.3
Collect Result.15 - Fill1                      244.3
Collect Result.16 - Fill1                      289.0
Collect Result.17 - Fill1                         50
Collect Result.18 - Fill1                          0
Collect Result.19 - Fill1                      123.4
Collect Result.20 - Fill1                       50.0
Collect Result.21 - Fill1                       92.2
Collect Result.22 - Fill1                      289.0
Collect Result.23 - Fill1                         50
Collect Result.24 - Fill1                         85
Collect Result.25 - Fill1                      111.1
Collect Result.26 - Fill1                        1.0
Collect Result.27 - Fill1                          6
Collect Result.28 - Fill1                          1
Collect Result.29 - Fill1                          7
Wip Line - Fill2                             IVI-OB6
Process Desc. - Fill2                Fill2 Dispenser
Equipment - Fill2                 Fill2 dispenser #1
Model.Suffix - Fill2                     AJX75334501
Workorder - Fill2                         3F1X5847-2
LOT ID - Fill2                  OP753345013050000007
Collect Date - Fill2             2023-05-04 09:24:39
Insp. Seq No. - Fill2                              1
Insp Judge Code - Fill2                           OK
Collect Result - Fill2                           240
Collect Result.1 - Fill2                          32
Collect Result.2 - Fill2                         -90
Collect Result.3 - Fill2                          55
Collect Result.4 - Fill2                        1020
Collect Result.5 - Fill2                          32
Collect Result.6 - Fill2                           0
Collect Result.7 - Fill2                        1020
Collect Result.8 - Fill2                          32
Collect Result.9 - Fill2                          90
Collect Result.10 - Fill2                          0
Collect Result.11 - Fill2                          0
Collect Result.12 - Fill2                        0.0
Collect Result.13 - Fill2                          0
Collect Result.14 - Fill2                          0
Collect Result.15 - Fill2                        0.0
Collect Result.16 - Fill2                          0
Collect Result.17 - Fill2                      835.5
Collect Result.18 - Fill2                      458.0
Collect Result.19 - Fill2                      156.0
Collect Result.20 - Fill2                      428.0
Collect Result.21 - Fill2                      427.9
Collect Result.22 - Fill2                      428.0
Collect Result.23 - Fill2                      243.7
Collect Result.24 - Fill2                      243.7
Collect Result.25 - Fill2                      243.7
Collect Result.26 - Fill2                      270.0
Collect Result.27 - Fill2                         50
Collect Result.28 - Fill2                        -10
Collect Result.29 - Fill2                        119
Collect Result.30 - Fill2                         50
Collect Result.31 - Fill2                       91.8
Collect Result.32 - Fill2                      270.0
Collect Result.33 - Fill2                         50
Collect Result.34 - Fill2                         85
Collect Result.35 - Fill2                       18.6
Collect Result.36 - Fill2                        1.0
Collect Result.37 - Fill2                          6
Collect Result.38 - Fill2                          1
Collect Result.39 - Fill2                          0
target                                      AbNormal
Name: 2, dtype: object

In [14]:

# 출력 옵션을 설정
pd.set_option('display.max_rows', None)

In [15]:
# 결측값 'unknown' 값으로 대체
df_merged['Collect Result.17 - Dam'].fillna('unknown', inplace=True)
df_merged['Collect Result.7 - Fill1'].fillna('unknown', inplace=True)
df_merged['Collect Result.17 - Fill2'].fillna('unknown', inplace=True)

In [16]:
print(df_merged['Collect Result.17 - Dam'].isnull().sum())
print(df_merged['Collect Result.7 - Fill1'].isnull().sum())
print(df_merged['Collect Result.17 - Fill2'].isnull().sum())

0
0
0

### 데이터 분할

In [17]:
df_merged = df_merged.sort_values(by=["Collect Date - Dam"])
df_train, df_val = train_test_split(
    df_merged,
    test_size=0.3,
    stratify=df_merged["target"],
    random_state=RANDOM_STATE,
)


def print_stats(df: pd.DataFrame):
    num_normal = len(df[df["target"] == "Normal"])
    num_abnormal = len(df[df["target"] == "AbNormal"])

    print(
        f"  Total: Normal: {num_normal}, AbNormal: {num_abnormal}"
        + f" ratio: {num_abnormal/num_normal}"
    )


# Print statistics
print(f"  \tAbnormal\tNormal")
print_stats(df_train)
print_stats(df_val)

  	Abnormal	Normal
  Total: Normal: 26709, AbNormal: 1645 ratio: 0.06158972630948369
  Total: Normal: 11447, AbNormal: 705 ratio: 0.06158818904516467

## 3. 모델 학습

In [18]:
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    f1_score,
    precision_score,
    recall_score,
)

def get_clf_eval(y_test, y_pred=None):
    confusion = confusion_matrix(y_test, y_pred, labels=[True, False])
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, labels=[True, False])
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred, labels=[True, False])
    weighted_F1 = f1_score(y_test, y_pred, average='weighted')

    metrics = pd.DataFrame({
        '정확도': [accuracy],
        '정밀도': [precision],
        '재현율': [recall],
        'F1 Score': [F1],
        'Weighted F1': [weighted_F1]
    })

    confusion_df = pd.DataFrame(confusion, index=['True', 'False'], columns=['True', 'False'])

    print("\n오차행렬:")
    display(confusion_df)
    print("평가 지표:")
    display(metrics)

In [19]:
# 모델 라이브러리
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

# 보팅
from sklearn.ensemble import VotingClassifier

### 모델 정의

In [20]:
# RandomForest
rf_model = RandomForestClassifier(
    n_estimators=1935
    , max_depth=32
    , min_samples_split=2
    , min_samples_leaf=1   
    , bootstrap=True
    , criterion='entropy'
    , class_weight='balanced'
    , random_state=0
)

# LightGBM_dart
lgbm_dart_model = LGBMClassifier(
    n_estimators=1029
    , num_leaves=167
    , max_depth=30
    , learning_rate=0.05767571715999541
    , min_child_samples=25
    , verbose=-1
    , boosting='dart'  # dart 사용
    , random_state=0
)

# XGBoost 
xgb_model = XGBClassifier(
    n_estimators=414
    , learning_rate=0.20046808426888615
    , max_depth=11
    , alpha=0.004365542651458743
    , gamma=0.00025712949731685885
    , reg_alpha=0.17168922089033928
    , reg_lambda=0.03881395024846057
    , colsample_bytree=0.32031741412326675
    , subsample=0.6269215430592496
    , objective='binary:logistic'  # 이진 분류
    , tree_method="exact"        
    , random_state=0
)

# ExtraTrees
et_model = ExtraTreesClassifier(
    n_estimators=100
    , max_depth=48
    , min_samples_split=3
	, min_samples_leaf=1
	, criterion='gini'
	, random_state=0
)

In [21]:
### 보팅 분류기 생성 ###
model = VotingClassifier(
    estimators=[
        ('lgb_dart',lgbm_dart_model),
        ('xgb', xgb_model),
        ('rf', rf_model),
        ('et', et_model)
    ],
    voting='soft'  # 'hard'는 다수결 투표, 'soft'는 확률 평균
)

In [ ]:
df_merged = df_merged.sort_values(by=["Collect Date - Dam"])
df_train, df_val = train_test_split(
    df_merged,
    test_size=0.3
    , stratify=df_merged["target"] 
    , random_state=RANDOM_STATE

In [22]:
df_merged = df_merged.sort_values(by=["Collect Date - Dam"])
df_train, df_val = train_test_split(
    df_merged,
    test_size=0.3,
    stratify=df_merged["target"],
    random_state=RANDOM_STATE,
)


def print_stats(df: pd.DataFrame):
    num_normal = len(df[df["target"] == "Normal"])
    num_abnormal = len(df[df["target"] == "AbNormal"])

    print(
        f"  Total: Normal: {num_normal}, AbNormal: {num_abnormal}"
        + f" ratio: {num_abnormal/num_normal}"
    )


# Print statistics
print(f"  \tAbnormal\tNormal")
print_stats(df_train)
print_stats(df_val)

  	Abnormal	Normal
  Total: Normal: 26709, AbNormal: 1645 ratio: 0.06158972630948369
  Total: Normal: 11447, AbNormal: 705 ratio: 0.06158818904516467

### 모델 학습

In [16]:
features = []

for col in df_train.columns:
    try:
        df_train[col] = df_train[col].astype(int)
        features.append(col)
    except:
        continue

if "Set ID" in features:
    features.remove("Set ID")

train_x = df_train[features]
train_y = df_train["target"]

model.fit(train_x, train_y)

VotingClassifier(estimators=[('lgb_dart',
                              LGBMClassifier(boosting='dart',
                                             learning_rate=0.05767571715999541,
                                             max_depth=30, min_child_samples=25,
                                             n_estimators=1029, num_leaves=167,
                                             random_state=0, verbose=-1)),
                             ('xgb',
                              XGBClassifier(alpha=0.004365542651458743,
                                            base_score=None, booster=None,
                                            callbacks=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_by...
                                            monotone_constraints=None,
                                            n_estimators=414, n_jobs=None,
                                            num_parallel_tree=None,
                                            predictor=None, random_state=0,
                                            reg_alpha=0.17168922089033928, ...)),
                             ('rf',
                              RandomForestClassifier(class_weight='balanced',
                                                     criterion='entropy',
                                                     max_depth=32,
                                                     n_estimators=1935,
                                                     random_state=0)),
                             ('et',
                              ExtraTreesClassifier(max_depth=48,
                                                   min_samples_split=3,
                                                   random_state=0))],
                 voting='soft')

In [26]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# 1. 검증 데이터에 대한 예측 수행
val_x = df_val[features]  # 검증 데이터의 특성(features)
val_y = df_val["target"]  # 검증 데이터의 실제 레이블

# 예측 수행
val_pred = model.predict(val_x)

# 2. 성능 지표 계산
accuracy = accuracy_score(val_y, val_pred)
conf_matrix = confusion_matrix(val_y, val_pred)
class_report = classification_report(val_y, val_pred)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.9435483870967742
Confusion Matrix:
[[   27   678]
 [    8 11439]]
Classification Report:
              precision    recall  f1-score   support

    AbNormal       0.77      0.04      0.07       705
      Normal       0.94      1.00      0.97     11447

    accuracy                           0.94     12152
   macro avg       0.86      0.52      0.52     12152
weighted avg       0.93      0.94      0.92     12152

In [36]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# 1. 검증 데이터에 대한 예측 수행
val_x = df_val[features]  # 검증 데이터의 특성(features)
val_y = df_val["target"]  # 검증 데이터의 실제 레이블

# 레이블 인코딩
label_encoder = LabelEncoder()
val_y_encoded = label_encoder.fit_transform(val_y)

# 예측 확률 수행
val_pred_proba = model.predict_proba(val_x)[:, 1]  # 양성 클래스(1)의 확률

# 스레스홀드 0.3 적용
threshold = 0.85
val_pred = (val_pred_proba >= threshold).astype(int)

# 2. 성능 지표 계산
accuracy = accuracy_score(val_y_encoded, val_pred)
conf_matrix = confusion_matrix(val_y_encoded, val_pred)
class_report = classification_report(val_y_encoded, val_pred, target_names=label_encoder.classes_)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.8784562211981567
Confusion Matrix:
[[  141   564]
 [  913 10534]]
Classification Report:
              precision    recall  f1-score   support

    AbNormal       0.13      0.20      0.16       705
      Normal       0.95      0.92      0.93     11447

    accuracy                           0.88     12152
   macro avg       0.54      0.56      0.55     12152
weighted avg       0.90      0.88      0.89     12152

## 4. 제출하기

### 테스트 데이터 예측

테스트 데이터 불러오기

In [20]:
df_test_y = pd.read_csv(os.path.join("submission.csv"))

In [21]:
df_test = pd.merge(X, df_test_y, "inner", on="Set ID")
df_test_x = df_test[features]

for col in df_test_x.columns:
    try:
        df_test_x.loc[:, col] = df_test_x[col].astype(int)
    except:
        continue

c:\Users\juneh\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [39]:
# 테스트 데이터에 대한 예측 확률 수행
test_pred_proba = model.predict_proba(df_test_x)[:, 1]  # 양성 클래스(1)의 확률

# 스레스홀드 0.85 적용
threshold = 0.85
test_pred = (test_pred_proba >= threshold).astype(int)

test_pred

array([0, 0, 0, ..., 1, 1, 1])

In [52]:
test_pred.sum()/len(test_pred)

0.9241979148666551

### 제출 파일 작성

In [41]:
# 제출 데이터 읽어오기 (df_test는 전처리된 데이터가 저장됨)
df_sub = pd.read_csv("submission.csv")
df_sub["target"] = test_pred

# 제출 파일 저장
df_sub.to_csv("submission.csv", index=False)

In [53]:
import pandas as pd
df_csv = pd.read_csv('submission.csv')
df_csv['target'] = df_csv['target'].replace({
    0: 'AbNormal',
    1: 'Normal'
})

df_csv.to_csv('submission.csv', index=False)

In [55]:
df_csv = pd.read_csv('submission.csv')
df_csv.head(20)

                  Set ID    target
0   OP753345013050000002  AbNormal
1   OP753345013050000005  AbNormal
2   OP753345013050000006  AbNormal
3   OP753345013050000008  AbNormal
4   OP753345013050000009  AbNormal
5   OP753345013050000015  AbNormal
6   OP753345013050000012  AbNormal
7   OP753345013050000031    Normal
8   OP753345013050000033  AbNormal
9   OP753345013050000036    Normal
10  OP753345013050000040    Normal
11  OP753345013050000041    Normal
12  OP753345013050000047    Normal
13  OP753345013050000048    Normal
14  OP753345013050000051    Normal
15  OP753345013050000052    Normal
16  OP753345013050000053    Normal
17  OP753345013050000057    Normal
18  OP753345013050000062    Normal
19  OP753345013050000063    Normal

**우측 상단의 제출 버튼을 클릭해 결과를 확인하세요**